backcall==0.2.0
cffi==1.14.1
colorama==0.4.3
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
pycparser==2.20
pyfiglet==0.8.post1
Pygments==2.6.1
pyparsing==3.0.0a2
python-dateutil==2.8.1
PyX==0.15
regex==2020.7.14
scapy==2.4.3
six==1.15.0
termcolor==1.1.0
traitlets==4.3.3
wcwidth==0.2.5
